footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#B6886A;
    margin-bottom:0;
}
.footer__text{
    font-family: poppins;
    font-size: 12px;
    width: 350px;
    text-align: center;
    padding:1rem;
    color:white;
}